@font-face {
    font-family: HelveticaNeue-Light;
    src: url(/fonts/HelveticaNeue-Light.otf);
}

@font-face {
    font-family: HelveticaNeue-Bold;
    src: url(/fonts/HelveticaNeue-Bold.otf);
}

@font-face {
    font-family: HelveticaNeue-Medium;
    src: url(/fonts/HelveticaNeue-Medium.otf);
}

body {
    background-color: whitesmoke !important;
    font-family: HelveticaNeue-Light;
}

.header>h2 {
    font-size: 50px;
    font-family: HelveticaNeue-Light;
}

.content {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    padding-top: 20px;
}

.add-new input {
    background-color: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    border: none;
    height: 50px;
    outline: none;
    width: 100%;
    font-size: 20px;
    font-family: HelveticaNeue-Light;
    margin-bottom: 10px;
    font-weight: 100;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #e6e6e6;
    font-size: 20px;
    font-style: italic;
    font-family: HelveticaNeue-Light;
    font-weight: 100;
}

@media screen and (max-width: 450px) {
    ::-webkit-input-placeholder {
        font-size: 16px;
    }
}

.white-content {
    background-color: #fff !important;
}

.add-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #8a878a;
    transition: all 0.4s;
}

.add-icon-a {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    transition: all 0.4s;
}

.add-icon-a:hover .add-icon {
    background-color: #444;
}

.add-icon i {
    color: whitesmoke;
    margin-top: 12px;
}

.checker {
    content:'';
    transition: all 0.4s;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #aaa;
    background-color: #fff;
}

.checker>i {
    margin-left: 5px;
    margin-top: 5px;
    transition: all 0.4s;
    color: #aaa
}

.checker:hover {
    border: 2px solid #3BF7D1;
}


.checker:hover i {
    color: #3BF7D1 !important;
}

.content-table {
    width: 100%;
}
.content-table input {
    background-color: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    border: none;
    height: 50px;
    outline: none;
    width: 100%;
    font-size: 20px;
    font-family: HelveticaNeue-Light;
    transition: all 0.4s;
}

.delete-button::after {
    content: 'x';
}

.delete-button {
    background-color: transparent;
    border: none;
    font-size: 28px;
    font-family: HelveticaNeue-Light;
    color: #ffa392;
    transition: all 0.4s;
    opacity: 0;
    outline:none;
}

.delete-button:hover {
    color: #ff5845;
}

.content-row:hover .delete-button {
    opacity: 1;
}

.check-done {
    background-color: #3BF7D1;
    border: 1px solid #3BF7D1;
}

.check-done i {
    color: #fff !important;
}

.check-done:hover {
    opacity: 0.5;
}

.check-done:hover i {
    color: #fff !important;
}

.todo-done {
    color: #e6e6e6;
    text-decoration: line-through;
}

.options {
    list-style: none;
    padding: 0 !important;
}

.options>li {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    font-family: HelveticaNeue-Light;
    padding-left: 8px;
    padding-right: 8px;
    border: solid 1px transparent;
    border-radius: 5px;
    transition: all 0.4s;
}

.options>li:hover {
    border: solid 1px #eeeeee;
}

.options>li>a {
    color: inherit;
    text-decoration: none;
}

.option-active {
    border: solid 1px #bfbfbf !important;
}