<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-do App</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
</head>
<body ng-app="todoApp">
<div class="container" ng-controller="mainCtrl">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="">
                <div class="text-center header">
                    <h2>Todos</h2>
                </div>
                <div class="white-content content clearfix" ng-init="disableFilter = undefined; statusFilter = true">
                    <div class="col-md-12 col-sm-12 col-xs-12 add-new">
                        <div class="col-md-1 col-sm-1 col-xs-1"></div>
                        <div class="col-md-9 col-sm-9 col-xs-9" ng-keyup="$event.keyCode == 13 ? addNewTodo() : null">
                            <input type="text" placeholder="Enter work need to be done" ng-model="newTodo">
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-1">
                            <div class="text-center">
                                <a href="" class="add-icon-a" ng-click="addNewTodo()">
                                    <div class="add-icon"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="text-center">
                            <ul class="options">
                                <li ng-class="{'option-active' : disableFilter == undefined}"><a href="" ng-click="disableFilter = undefined" >All</a></li>
                                <li ng-class="{'option-active' : statusFilter == false && disableFilter != undefined}"><a href="" ng-click="disableFilter = true; statusFilter = false" >Active</a></li>
                                <li ng-class="{'option-active' : statusFilter == true && disableFilter != undefined}"><a href="" ng-click="disableFilter = true; statusFilter = true" >Completed</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="content-table">
                            <tr class="content-row" ng-repeat="todo in todos | filter:disableFilter && {status: statusFilter}">
                                <td class="col-md-1"><a href="" ng-click="">
                                    <div class="checker" ng-click="todo.status = !todo.status; updateTodo(todo)"
                                                         ng-class="{'check-done' : todo.status}"><i class="fa fa-check"
                                                            aria-hidden="true"></i></div>
                                </a></td>
                                <td class="col-md-9">
                                    <input type="text" ng-model="todo.text"
                                                       ng-class="{'todo-done' : todo.status}"
                                                       ng-change="updateTodo(todo)"
                                                       ng-model-options="{debounce: 500}"
                                    >
                                </td>
                                <td class="col-md-2">
                                    <div class="text-center">
                                        <button class="delete-button" ng-click="deleteTodo(todo)"></button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script src="vendors/angular.min.js"></script>
<script src="vendors/angular-route.js"></script>
<script src="js/main.js"></script>

</body>
</html>